<div class = "row" style="margin: 5% 10% 0% 10%">
    <div class = "col-12 col-md-12 col-lg-12 text-center">
        <h1 style = "margin-bottom: 1em;">Apurba Nath</h1>
        <h3>EdTech | <span id="dev">🧑‍💻 developer</span> | <span id = "aca">academic</span></h3>
    </div>
    <!--social links-->
    <div class = "col-12 col-md-12 col-lg-12 text-center" style="margin: 5% 0% 0% 0%">
        <a href="https://github.com/apurbzz-1994" class="a-custom" target="_blank"><h3 style="display: inline-block;"><i class="fab fa-github"></i></h3></a>
        <a href="https://www.linkedin.com/in/apurba-nath-5a945585/" class="a-custom" target="_blank"><h3 style="display: inline-block;"><i class="fab fa-linkedin"></i></h3></a>
    </div>
    <!--introduction message-->
    <div class = "col-12 col-md-12 col-lg-12" style="margin: 5% 0% 0% 0%; text-align: center;">
        {% if homepage_block %}
            <p>
                {{homepage_block.content|safe}}
            </p>
        {% endif %}
    </div>
</div>